@font-face {
    font-family: Trap;
    src: url(Trap-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: Trap;
    src: url(Trap-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: Trap;
    src: url(Trap-Medium.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: Trap;
    src: url(Trap-Bold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Trap;
    src: url(Trap-ExtraBold.otf) format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: ProDisplay;
    src: url(SF-Pro-Display-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: ProDisplay;
    src: url(SF-Pro-Display-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: ProDisplay;
    src: url(SF-Pro-Display-Medium.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: ProDisplay;
    src: url(SF-Pro-Display-Semibold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: ProDisplay;
    src: url(SF-Pro-Display-Bold.otf) format("opentype");
    font-weight: 900;
}

.Light {
    font-weight: 300;
}

.Regular {
    font-weight: 400;
}

.Medium {
    font-weight: 500;
}

.Bold {
    font-weight: 700;
}

.Bolder {
    font-weight: 900;
}
