<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="{'active': Active}">
        <div id="dismiss" (click)="Remove()">
            <svg class="Close" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
            </svg>
        </div>

        <div class="sidebar-header">
            <img class="LogoImg" src="../../../assets/img/SVGs/logos/condensed_white.svg" alt="">
        </div>

        <app-menu [Sidebar]="true"></app-menu>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-0">
        <app-navbar (ToggleEvent)="Toggle()"></app-navbar>

        <!-- <app-demo></app-demo>
        <app-clientes></app-clientes>
        <app-servicios></app-servicios>
        <app-video-container></app-video-container>
        <app-contacto></app-contacto> -->


        <div class="Fill bg-black"></div>

        <app-footer></app-footer>

    </div>
</div>
<div class="overlay" [ngClass]="{'active': Active}" (click)="Remove()"></div>