@import "src/app/layout/theme/variables.scss";

$sky:$cyan;
$sea:$blue;
$sun:$orange;
// $sky:$blue;
// $sea:$cyan;
// $sun:$orange;
.scenery {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	.sky {
		height: 100%;
		background-color: $sky;
		position: relative;
		> div {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		.text {
			font-family: 'Titillium Web', sans-serif;
			color: $sun;
			font-size: 30vw;
			text-align: center;
			&:first-child {
				left: 25%;
			}
			&:last-child {
				left: 75%;
			}
		}
		.sun {
			width: 25vw;
			height: 25vw;
			border-radius: 50%;
			background-color: $sun;
		}
	}
	.sea {
		height: 50%;
		width: 100%;
		background-color: $sea;
		position: absolute;
		bottom: 0px;
		opacity: 0.8;
	}
}