<div class="BG-Black Footer p-3">
    <div id="RedesSociales">
        <div class="row mx-0 py-4">
            <div class="col d-none d-md-flex GlobeContainer">
                <mat-icon class="m-auto w-75 h-100" svgIcon="globePink">
                </mat-icon>
            </div>
            <div class="col SocialContainer py-sm-4 py-0 m-auto">
                <div class="row m-0 py-1 justify-content-center
                    justify-content-md-end">
                    <mat-icon class="SocialLogo Padding px-md-4 pe-md-0"
                        (click)="goToLink('https://www.behance.net/jorgecesar')"
                        svgIcon="behanced">
                    </mat-icon>
                    <mat-icon class="SocialLogo Padding px-md-4 pe-md-0"
                        (click)="goToLink('https://www.instagram.com/buhoextinto')"
                        svgIcon="instagram">
                    </mat-icon>
                    <mat-icon class="SocialLogo Padding px-md-4 pe-md-0"
                        (click)="goToLink('https://dribbble.com/jorgecesar')"
                        svgIcon="dribbble">
                    </mat-icon>
                    <mat-icon class="SocialLogo Padding px-md-4 pe-md-0"
                        (click)="goToLink('https://wa.me/50431606710')"
                        svgIcon="whatsapp">
                    </mat-icon>
                    <mat-icon class="SocialLogo Padding px-md-4 pe-md-0"
                        (click)="goToLink('https://twitter.com/jorgecaesar')"
                        svgIcon="twitter">
                    </mat-icon>
                </div>
                <div class="row d-none d-md-flex m-0 py-1 justify-content-end">
                    <mat-icon class="Logo p-0" svgIcon="logoPink">
                    </mat-icon>
                    <span class="px-2 w-auto my-auto">—</span>
                    <span class="px-1 w-auto my-auto Slogan Light">
                        Un estudio creativo independiente con libertad de
                        expresión visual.
                    </span>
                </div>
            </div>
            <!-- <div class="col-12 d-flex d-md-none m-0 justify-content-center">
                <img class="Logo p-0" src="assets/img/svg/SVGs-34.svg"
                    alt="Logo">
                <span class="px-2 w-auto my-auto">—</span>
                <span class="px-1 w-auto my-auto Slogan">
                    Un estudio creativo independiente con libertad de expresión visual.
                </span>
            </div> -->
        </div>
    </div>
</div>