@import "src/app/layout/theme/variables.scss";

.BG-Black {
    background-color: $black;
}

.Footer {
    color: $purple;
}

.GlobeContainer {
    color: $black;
    img {
        max-width: 280px;
    }
}

.SocialContainer {
    flex: 2;
}

.SocialLogo {
    width: 6vw;
    height: auto;
    cursor: pointer;
}

.Logo {
    width: 120px;
}

.Slogan {
    font-size: small;
}

@media (max-width: 576px) {
    .SocialLogo {
        width: calc(2rem + 6vw);
    }

    .Padding {
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .SocialLogo {
        width: calc(2rem + 9vw);
    }
}

@media (max-width: 848px) {
    .Logo {
        width: 92px;
    }
    .Slogan {
        font-size: 12px;
    }
}
@media (min-width: 920px) {
    #RedesSociales {
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media (min-width: 1100px) {
    #RedesSociales {
        padding-left: 10%;
        padding-right: 10%;
    }
}
