<div class="BG-Black White" id="RedesSociales">
    <div class="row m-0">
        <div class="col-12 text-center">
            <div class="Outline DisplayTitle Header py-4 m-0">REDES SOCIALES</div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="h1 Header py-4 m-0"><a target="_blank" href="https://www.instagram.com/cesarmorales.co/"
                    class="RemoveLink White">INSTAGRAM</a></div>
        </div>

        <div class="col-12 order-last col-md-4 text-center Copyright">
            <div class="h6 Header py-4 m-0 Lineheight"> {{getDateYear()}} © CÉSAR MORALES</div>
        </div>
        <div class="col-12 col-md-4 order-md-last text-center">
            <div class="h1 Header py-4 m-0"><a target="_blank" href="https://www.youtube.com/user/cesarmoralesc"
                    class="RemoveLink White">YOUTUBE</a> </div>
        </div>

        <div class="col-12 p-3 order-last text-center">
            <img class="d-none d-md-block w-100" src="../../../assets/img/SVGs/logos/footer_web.svg" alt="">
            <img class="d-md-none w-100" src="../../../assets/img/SVGs/logos/footer_mobile.svg" alt="">
        </div>
    </div>
    <div class="rellax Absolute" data-rellax-xs-speed="0.9" data-rellax-mobile-speed="1.3"
        data-rellax-tablet-speed="1.2" data-rellax-desktop-speed="0.9">
        <img src="../../../assets/img/SVGs/icons/hand.svg" class="ImgHand" alt="">
    </div>
</div>