<div class="Container">
    <div class="row m-0">
        <div class="col-12 py-4 col-md-7 px-4 TitleBackground">
            <div class="px-2 py-4 px-sm-4">
                <div class="row m-0">
                    <div class="col p-0 d-flex text-start">
                        <mat-icon class="mb-auto me-auto White Globe pb-3"
                            svgIcon="globe">
                        </mat-icon>
                    </div>
                    <div class="col d-none d-md-flex p-0">
                        <mat-icon class="mb-auto ms-auto White Destacados
                            text-right"
                            svgIcon="destacados">
                        </mat-icon>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col p-0 d-flex text-start Header Spacing Title
                        Medium">
                        Esto no es <br> una agencia <br> de publicidad
                    </div>
                </div>
                <div class="row m-0 pt-3 Content">
                    <div class="col p-0 d-flex text-start Subtitle Regular h4">
                        Olvídate de los ads de Google y Facebook.
                        <br class="d-none d-md-block">
                        Aquí encontrarás el asesoramiento indicado para
                        <br class="d-none d-md-block">
                        impulsar la identidad visual de tu marca o producto.
                    </div>
                </div>
                <div class="row m-0 pt-3">
                    <div class="p-0">
                        <button type="button"
                            (click)="Empieza()"
                            class="btn btn-dark BtnColor White py-3 px-4 d-none
                            d-md-block
                            Content
                            Bolder">
                            <span class="px-4">
                                Empieza ya
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none py-4 d-md-flex col-5 px-4 FeaturedBackground">
            <div class="px-2 py-4 px-sm-4 mx-auto w-75">
                <mat-icon class="Featured" (click)="Featured()"
                    svgIcon="jeanpierre">
                </mat-icon>
            </div>
        </div>
    </div>
</div>
