<div *ngIf="!Sidebar" class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link py-0 d-flex"
                (click)="ScrollToView('#proyectos')"
                href="#proyectos">
                <mat-icon class="HeaderIcon" svgIcon="one">
                </mat-icon>
                <span class="Regular Content m-auto MenuItem">
                    Proyectos recientes
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 d-flex"
                (click)="ScrollToView('#manifiesto')" href="#manifiesto">
                <mat-icon class="HeaderIcon" svgIcon="two">
                </mat-icon>
                <span class="Regular Content m-auto MenuItem">
                    Manifiesto
                </span>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0 d-flex"
                (click)="ScrollToView('#contacto')" href="#contacto">
                <mat-icon class="HeaderIcon" svgIcon="three">
                </mat-icon>
                <span class="Regular Content m-auto MenuItem">Contacto</span>
            </a>
        </li>
    </ul>
</div>

<ul *ngIf="Sidebar" class="list-unstyled components">
    <li class="nav-item">
        <a class="nav-link" (click)="ScrollToView('#Proyectos')">Proyectos
            Recientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="ScrollToView('#Acerca')">Acerca</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="ScrollToView('#Contacto')">Contacto</a>
    </li>
</ul>