@import "src/app/layout/theme/variables.scss";

.nav-link {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: $black;
}

.MenuItem {
    font-size: calc(medium - 10px);
}

.nav-link:hover {
    color: $orange;
}
.nav-link.active {
    color: $orange;
}

.HeaderIcon {
    height: 50px;
    width: 50px;
}
