@import "src/app/layout/theme/variables.scss";

.Logo {
    height: 27px;
    object-fit: contain;
}

.NavbarColor {
    background-color: $white;
}

.BtnColor {
    background-color: $white;
    padding: 0 10px;
    border: 3px solid $black;
    color: $black;
    font-size: small;
}

.MenuIcon {
    height: 26px;
    object-fit: contain;
}

@media (max-width: 400px) {
    .Logo {
        height: 17px;
    }
}
