<nav class="navbar navbar-expand-md fixed-top NavbarColor NavbarBorder">
    <div class="container-fluid mx-4 px-2 px-sm-4">
        <a class="navbar-brand Pointer m-0 d-flex" (click)="ScrollToView()"
            href="#">
            <img class="Logo m-auto" src="../../../assets/img/svg/SVGs-01.svg"
                alt="">
        </a>
        <app-menu [Sidebar]="false"></app-menu>

        <button type="button" id="sidebarCollapse" (click)="Empieza()"
            class="btn btn-dark BtnColor px-sm-4 px-2 py-2 d-md-none Content
            Bolder">
            EMPIEZA YA
        </button>
    </div>
</nav>